* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(82, 74, 208);
  background: linear-gradient(90deg, rgba(82, 74, 208, 1) 0%, rgba(87, 87, 210, 1) 40%, rgba(0, 49, 255, 1) 100%);
}

.cityName {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 35px;
  font-weight: 400;
  font-style: italic;
}

.app {
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width:1024px) {
  .cityName {
    top: 25%;
  }
}

@media (max-width:800px) {
  .cityName {
    top: 20%;
    font-size: 30px;
    margin: 15px 0;
  }
}

@media (max-width:640px) {
  .cityName {
    top: 13%;
    font-size: 30px;
    margin: 15px 0;
  }
}