.list__ul {
    margin-top: -15px;
    position: relative;
    perspective: 20px;
    left: 0%;
    z-index: 100;
}

.list__li {
    width: 50%;
    background-color: rgba(255, 255, 255);
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
}

@media (min-width:768px) {
    .list__li {
        width: 25%;
    }
}