.icon {
    display: block;
    width: 10%;
    margin-left: 20px;
}

@media (min-width:1024px) {
    .icon {
        margin-left: 40px;
    }
}

@media (min-width:1025px) {
    .icon {
        width: 50px;
        margin: 0 auto;
        padding-top: 10px;
    }
}