.list__form {
    height: 3vh;
}

.search-bar {
    position: relative;
    display: block;
    padding: 10px;
    text-align: center;
    border: none;
    appearance: none;
    outline: none;
    background: none;
    background-color: rgba(255, 255, 255);
    border-radius: 16px;
    color: #313131;
    font-size: 20px;
    margin: 0 auto;
    z-index: 200;
}



@media (min-width:1024px) {
    .search-bar {
        width: 500px;
    }
}