.weatherCont {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30%;
    z-index: -100;
}

.WeatherBody {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    transition: 0.3s all ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1) inset;
    background-color: rgba(255, 255, 255, .8);
}

.WeatherBody:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 5px 1px rgba(31, 31, 31, .5);
}

.minTemp {
    margin-right: 5px;
    color: #b8b8b8;
}

.maxTemp {
    margin-right: 10px;
}


@media (min-width:1024px) {
    .weatherCont {
        margin-top: 10%;
    }

    .WeatherBody {
        flex-basis: 60%;
    }

    .minTemp {
        margin-right: 25px;
    }

    .maxTemp {
        margin-right: 15px;
    }
}

@media (min-width:1025px) {
    .WeatherBody {
        display: block;
        flex-basis: 30%;
        margin: 10px 15px;
        padding: 10px 50px;
    }

    .temp {
        margin: 20px 0;
        font-size: 15px;
    }

    .temp span {
        padding: 0 20px
    }

    .day {
        margin: 20px 0;
    }
}

@media (min-width:1125px) {

    .WeatherBody {
        flex-basis: 25%;
    }

}

@media (min-width:1205px) {

    .WeatherBody {
        flex-basis: 20%;
    }

}

@media (min-width:1440px) {

    .WeatherBody {
        flex-basis: 10%;
    }

}